<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <div class="navbar-nav mr-right nav-item dropdown dropdown-menu-right">
   <a class="btn btn-outline-primary my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авторизация</a>
   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
       <form class="w-100 px-4 py-3" action="" method="">
           <div class="form-group form-inline">
               <input type="text" class="form-control" placeholder="Username" required>
           </div>
           <div class="form-group form-inline">
               <input type="password" class="form-control"  required>
           </div>
           <button type="submit" class="btn btn-primary btn-block">Войти</button>
       </form>
       <div class="dropdown-divider"></div>
   </div>
</div>
    {% endif %}
</body>
</html>